body{
    background: url(back.png);
}
.cont{
    width: 400px;
    border: 0px solid purple;
    margin: auto;
    padding-top: 80px;
    
}
.cont h2{
    text-align: center;
    color: crimson;
    font-size: 130px;
    text-shadow: 7px 3px black;
}
a{
    display: flex;
    width: 80px;
    height: 20px;
    margin: auto;
    justify-content: center;
    background-color: purple;
    color: aliceblue;
    border-radius: 3px;
}
a:hover{
    background-color: lightskyblue;
    transition: .9s ease;
    background: #7b219e;
    background: linear-gradient(117deg,#7b219e 0%, #00ffad 80%);
    background: -webkit-linear-gradient(117deg,#7b219e 0%, #00ffad 80%);
    background: -moz-linear-gradient(117deg,#7b219e 0%, #00ffad 80%);
    }